.Project {
    width: 100%;
    padding: 10px 30px;
    border: 1px solid red;
    display: flex;
    flex-flow: row;
}


.ProjectText {
    margin: 10px 20px;
}

.ProjectText p {
    font-size: 20px;
}

.Project div {
    width: 50%;
    padding: 10px;
}