.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: auto;
    align-items: center;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 6px;
    box-sizing: border-box;
    display: block;
    border-bottom: 1px solid #575757;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #FFDC00;
}

@media (min-width: 600px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #272727;
        border-bottom: 4px solid #FFDC00;
        color: white;
    }
}