.Footer {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    margin-right: 0;
    margin-top: 60px;
    background-color: #424242;
    color: white;
    display: block;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.Row h3 {
    color: #bfbfbf;
}
.Row:first-child {
    text-align: center;
    padding-top: 8px;
}

.Row:last-child {
    height: auto;
    background-color: #2e2e2e;
    color: black;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.Column {
    display: block;
    width: auto;
    height: auto;
    padding-bottom: 5px;
}

@media (min-width: 800px) {
    .Row {
        display: block;
        /*width: 100%;*/
    }
    .Row:first-child {
        text-align: left;
    }
    
    .Column {
        display: inline-block;
        vertical-align: top;
        width: 33.2%;
        height: auto;
    }
    .Column h3 {
        margin: 10px 7% 16px 7%;
    }
    .Column p {
        padding: 0 7%;
    }
    .Column iframe {
        margin: 0 7%;
    }
}
